$border-dashed: 1px dashed;
$border-heavy: 2px solid;
$border-regular: 1px solid;
$breakpoint-1: 640px;
$breakpoint-2: 768px;
$breakpoint-3: 1024px;
$breakpoint-4: 1280px;
$color-black: #000;
$color-blue-1: #E6F1FF;
$color-blue-2: #CCE3FF;
$color-blue-3: #AFD4FF;
$color-blue-4: #90C3FF;
$color-blue-5: #6EAFFF;
$color-blue-6: #4798FF;
$color-blue-7: #4087E2;
$color-blue-8: #3875C3;
$color-blue-9: #2E5F9D;
$color-blue-10: #22436C;
$color-blue-11: #0F243F;
$color-cyan-1: #E8FEFF;
$color-cyan-2: #D0FDFF;
$color-cyan-3: #B6FBFF;
$color-cyan-4: #98FAFF;
$color-cyan-5: #75F9FF;
$color-cyan-6: #47F8FF;
$color-cyan-7: #40DDE3;
$color-cyan-8: #38BFC4;
$color-cyan-9: #2E9B9F;
$color-cyan-10: #236D70;
$color-cyan-11: #11494B;
$color-fuschum-1: #F5E9FF;
$color-fuschum-2: #E9D1FF;
$color-fuschum-3: #DDB8FF;
$color-fuschum-4: #CE9AFF;
$color-fuschum-5: #BC77FF;
$color-fuschum-6: #A448FF;
$color-fuschum-7: #9241E2;
$color-fuschum-8: #7E38C2;
$color-fuschum-9: #662E9C;
$color-fuschum-10: #46226B;
$color-fuschum-11: #361656;
$color-gray-1: #F4F7FA;
$color-gray-2: #EEF0F2;
$color-gray-3: #DCDBE2;
$color-gray-4: #C7C6D3;
$color-gray-5: #AAA9BB;
$color-gray-6: #9F9EB2;
$color-gray-7: #7A798D;
$color-gray-8: #626175;
$color-gray-9: #414155;
$color-gray-10: #36363E;
$color-gray-11: #151518;
$color-green-1: #E9FFEA;
$color-green-2: #D3FFD5;
$color-green-3: #B9FFBC;
$color-green-4: #9CFFA0;
$color-green-5: #79FF7E;
$color-green-6: #48FF4D;
$color-green-7: #41E345;
$color-green-8: #38C43D;
$color-green-9: #2F9F32;
$color-green-10: #237025;
$color-green-11: #124713;
$color-indigo-1: #F4F4FF;
$color-indigo-2: #D5D3FF;
$color-indigo-3: #BCBAFF;
$color-indigo-4: #A09DFF;
$color-indigo-5: #7D79FF;
$color-indigo-6: #4C48FF;
$color-indigo-7: #4441E1;
$color-indigo-8: #3B38C1;
$color-indigo-9: #312E9A;
$color-indigo-10: #232169;
$color-indigo-11: #100E42;
$color-lime-1: #F1FFE6;
$color-lime-2: #E4FFCC;
$color-lime-3: #D4FFB0;
$color-lime-4: #C3FF92;
$color-lime-5: #B0FF6F;
$color-lime-6: #98FF48;
$color-lime-7: #87E340;
$color-lime-8: #76C438;
$color-lime-9: #609F2F;
$color-lime-10: #457023;
$color-lime-11: #23410B;
$color-orange-1: #FFF2E5;
$color-orange-2: #FFE4C9;
$color-orange-3: #FFD7AB;
$color-orange-4: #FFC78C;
$color-orange-5: #FFB76B;
$color-orange-6: #FFA448;
$color-orange-7: #E29240;
$color-orange-8: #C37F38;
$color-orange-9: #9E672F;
$color-orange-10: #6E4822;
$color-orange-11: #42280E;
$color-pink-1: #FFE9F3;
$color-pink-2: #FFD2E7;
$color-pink-3: #FFB9D9;
$color-pink-4: #FF9CC9;
$color-pink-5: #FF79B5;
$color-pink-6: #FF4798;
$color-pink-7: #E24087;
$color-pink-8: #C33875;
$color-pink-9: #9D2E5F;
$color-pink-10: #6D2243;
$color-pink-11: #4A0F29;
$color-red-1: #FFEAE9;
$color-red-2: #FFD3D3;
$color-red-3: #FFBBB9;
$color-red-4: #FF9F9C;
$color-red-5: #FF7C78;
$color-red-6: #FF4C47;
$color-red-7: #E24440;
$color-red-8: #C33B38;
$color-red-9: #9D322F;
$color-red-10: #6D2422;
$color-red-11: #3D0D0B;
$color-teal-1: #E9FFF5;
$color-teal-2: #D1FFE9;
$color-teal-3: #B7FFDD;
$color-teal-4: #9AFFCE;
$color-teal-5: #76FFBC;
$color-teal-6: #48FFA5;
$color-teal-7: #40E393;
$color-teal-8: #38C47F;
$color-teal-9: #2F9F68;
$color-teal-10: #23704A;
$color-teal-11: #145736;
$color-white: #FFF;
$color-yellow-1: #FEFFE8;
$color-yellow-2: #FDFFD0;
$color-yellow-3: #FCFFB7;
$color-yellow-4: #FBFF99;
$color-yellow-5: #F9FF75;
$color-yellow-6: #F8FF48;
$color-yellow-7: #DDE340;
$color-yellow-8: #BFC438;
$color-yellow-9: #9B9F2F;
$color-yellow-10: #6D7023;
$color-yellow-11: #474A0F;
$duration-instantly: 0s;
$duration-quickly: 0.15s;
$elevation-1: none;
$elevation-2: 0px 1px 2px rgba(2, 8, 20, 0.1), 0px 0px 1px rgba(2, 8, 20, 0.08);
$elevation-3: 0px 2px 4px rgba(2, 8, 20, 0.1), 0px 1px 2px rgba(2, 8, 20, 0.08);
$elevation-4: 0px 4px 8px rgba(2, 8, 20, 0.1), 0px 2px 4px rgba(2, 8, 20, 0.08);
$elevation-5: 0px 8px 16px rgba(2, 8, 20, 0.1), 0px 4px 8px rgba(2, 8, 20, 0.08);
$elevation-6: 0px 16px 32px rgba(2, 8, 20, 0.1), 0px 8px 16px rgba(2, 8, 20, 0.08);
$font-size-1: 11px;
$font-size-2: 12px;
$font-size-3: 13px;
$font-size-4: 14px;
$font-size-5: 16px;
$font-size-6: 20px;
$font-size-7: 24px;
$font-size-8: 32px;
$font-size-9: 40px;
$font-size-10: 48px;
$font-size-11: 64px;
$font-weight-bold: 700;
$font-weight-medium: 500;
$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-mono: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace;
$font-normal: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$letter-spacing-solid: 0em;
$letter-spacing-tight: -0.0.12em;
$letter-spacing-wide: 0.04em;
$line-height-body: 1.6;
$line-height-prose: 1.8;
$line-height-solid: 1;
$line-height-title: 1.2;
$radii-1: 0px;
$radii-2: 6px;
$radii-3: 8px;
$radii-4: 16px;
$radii-5: 100%;
$space-1: 4px;
$space-2: 8px;
$space-3: 12px;
$space-4: 16px;
$space-5: 20px;
$space-6: 24px;
$space-7: 32px;
$space-8: 40px;
$space-9: 48px;
$space-10: 64px;
$space-11: 80px;
$space-12: 96px;
$space-13: 128px;
$space-14: 160px;
$space-15: 192px;
$space-16: 224px;
$space-17: 256px;